<nav id="nav">
	<ul class="nav-links">
		<li class="non-dropdown">
			<a href="{{ url_for('home_bp.home') }}">Home</a>
		</li>
		<li id="dropdown1">
			<a class="outer" href="">Authors</a>
			<ul class="dropdown-content1">
				{% for author in author_urls %}
				<li>
					<div class="sizing1">
						<a class="btn-nav" href="{{ author_urls[author] }}"
							>{{ author }}</a
						>
					</div>
				</li>
				{% endfor %}
			</ul>
		</li>

		<li id="dropdown1">
			<a class="outer" href="">Languages</a>
			<ul class="dropdown-content1">
				{% for language in language_urls %}
				<li>
					<div class="sizing1">
						<a class="btn-nav" href="{{ language_urls[language] }}"
							>{{ language }}</a
						>
					</div>
				</li>
				{% endfor %}
			</ul>
		</li>


		<li id="dropdown1">
			<a class="outer" href="">Publisher</a>
			<ul class="dropdown-content1">
				{% for publisher in publisher_urls %}
				<li>
					<div class="sizing1">
						<a class="btn-nav" href="{{ publisher_urls[publisher] }}"
							>{{ publisher }}</a
						>
					</div>
				</li>
				{% endfor %}
			</ul>
		</li>

		<li id="dropdown1">
			<a class="outer" href="">Year</a>
			<ul class="dropdown-content1">
				{% for year in release_year_urls %}
				<li>
					<div class="sizing1">
						<a class="btn-nav" href="{{ release_year_urls[year] }}"
							>{{ year }}</a
						>
					</div>
				</li>
				{% endfor %}
			</ul>
		</li>

		<li class="non-dropdown">
			<a href="{{ url_for('about_us_bp.about_us') }}">About Us</a>
		</li>

		<li id="dropdown2">
			<!-- if user is logged in then this is displayed, else name profile is displayed instead -->
			{% if 'user_name' in session %}
				<a href="#"> {{ session['user_name']}}! </a>
			{% else %}
				<a href="#">Profile</a>
			{% endif %}
			<ul class="dropdown-content2">
				{% if 'user_name' not in session %}
				<li>
					<div class="sizing2">
						<a
							class="btn-nav"
							href="{{ url_for('authentication_bp.register') }}"
							>Register</a
						>
					</div>
				</li>
				<li>
					<div class="sizing2">
						<a class="btn-nav" href="{{ url_for('authentication_bp.login') }}"
							>Login</a
						>
					</div>
				</li>
				{% else %}
				<li>
					<div class="sizing2">
						<a
							class="btn-nav" href="{{ url_for('reading_list_bp.reading_list') }}"
							>Bookmarks</a
						>
					</div>
				</li>

				{% endif %}
				<li>
					<div class="sizing2">
						<a class="btn-nav" href="{{ url_for('authentication_bp.logout') }}"
							>Logout</a
						>
					</div>
				</li>
			</ul>
		</li>
		<!-- <li id="nav-header">
			{% if 'user_name' in session %} Hello, {{ session['user_name']}}! {%
			endif %}
		</li>
		--> <!-- option #2 to display user_name -->
	</ul>

</nav>
