<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
{% extends 'layout.html' %} {% block content %}

<main id="main">
	<h1>Reading List</h1>
	<div class="reading-list">
		{% for book in read_list %}
		<ul class="item-row">
			<li>
				<div>
					<a
						href="{{ url_for('books_bp.individual_book', book_id=book.book_id) }}"
					>
						<img
							src="{{ book.image_hyperlink }}"
							width="150"
							height="200"
							title="{{book.title}}"
						/>
					</a>
				</div>
				<div>
					<button
						class="remove-btn"
						onclick="location.href='{{ url_for('reading_list_bp.remove_book_from_reading_list', book_id=book.book_id) }}'"
					>
						<i class="fa fa-trash"></i>
					</button>
				</div>
				<div class="r-l-title-container">
					<h3 class="r-l-title">{{ book.title }}</h3>
				</div>
			</li>
		</ul>
		{% endfor %}
	</div>
</main>

{% endblock %}
