{% extends 'layout.html' %} {% block content %}
<main id="main">
	<div class="book">
		<h1 id="book-header">{{ book.title }}</h1>
		<div class="book-obj">
			<img src="{{ book.image_hyperlink }}" width="300" height="400" />
			<div class="sub-flex">
				<h3>Release Year: {{ book.release_year }}</h3>
				<h3>Publisher: {{ book.publisher }}</h3>
				<h4>
					Author(s): {% for author in book.authors %}{{ author.full_name }} {%
					if not loop.last %}, {% endif %}{% endfor %}
				</h4>
				<p>{{ book.description }}</p>
			</div>
		</div>
	</div>

	<div class="reviews-container">
		<div class="left">
			<div id="review-length">
				<h1>{{ book.reviews|length }} Reviews</h1>
			</div>
			<button
				class="btn-general"
				onclick="location.href='{{ book.add_review_url }}'"
			>
				Add Review
			</button>
		</div>
		<p>
			{% if book.reviews|length == 0 %} Be the first to leave a review! {% endif
			%}
		</p>

		<div class="review-obj">
			{% for review in book.reviews %}
			<div id="review-obj">
				<h3>{{review.user_name}} rates it {{review.rating}} out of 5</h3>
				<i> {{review.review_text}} </i>
				<p>{{review.timestamp}}</p>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="form-wrapper">
		<form action="{{handler_url}}" method="post">
			{{form.book_id}}
			<!-- Need to include this hidden field as it tracks the book being reviewed. -->
			{{form.csrf_token}}
			<!-- Need to include this token - Flask WTForms requires it. -->
			<br />
			<div class="form-rating-field">
				<div id="rating-label"><b>{{form.rating.label}}</b></div>
				<div id="rating">
					{% for subfield in form.rating %}
					<div class="radio-field">{{ subfield }}{{ subfield.label }}</div>
					{% endfor %} {% if form.review.errors %}
					<ul class="errors">
						{% for error in form.review.errors %}
						<li>{{error}}</li>
						{% endfor %}
					</ul>
					{% endif %}
				</div>
			</div>
			<div class="form-review-field">
				<b>{{form.review.label}} </b>
				<div>
					{{form.review(size = 100, placeholder="type your review",
					class="textarea", cols="50", rows="6", wrap="hard")}}
				</div>
				{% if form.review.errors %}
				<ul class="errors">
					{% for error in form.review.errors %}
					<li>{{error}}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
			{{ form.submit }}
		</form>
	</div>
</main>
{% endblock %}
