@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

body,
html {
	height: 100%;
}

header {
	background-color: #468faf;
}

#header_title {
	color: white;
	font-family: "Barlow";
	font-size: 3em;
	margin-right: 1em;
	margin-left: 0.2em;
	padding-bottom: 0.1em;
}

@media (max-width: 1165px) {
	#header_title {
		display: none;
	}
}

@media (min-width: 800px) {
	#header-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 0.8em;
		margin-left: 0%;
		margin-right: 0%;
	}
	#body {
		margin-left: 0.5%;
	}
}
@media (min-width: 1200px) {
	#header-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 0.8em;
	}
	#body,
	#header-container {
		margin-left: 2%;
	}
}
@media (min-width: 1350px) {
	#header-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 0.8em;
	}
	#body,
	#header-container {
		margin-left: 5%;
	}
}
@media (min-width: 1600px) {
	#header-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 0.8em;
	}
	#body,
	#header-container {
		margin-left: 8%;
	}
}

@media (min-width: 1900px) {
	#header-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 0.8em;
	}
	#body,
	#header-container {
		margin-left: 10%;
	}
}

@media (min-width: 2150px) {
	#header-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 0.8em;
	}
	#body,
	#header-container {
		margin-left: 22%;
		margin-right: 12%;
	}
}
@media (min-width: 2300px) {
	#header-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 0.8em;
		margin-left: 15%;
	}
	#body,
	#header-container {
		margin-left: 15%;
	}
}
@media (min-width: 2550px) {
	#header-container {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 0.8em;
		margin-left: 17%;
	}
	#body,
	#header-container {
		margin-left: 17%;
	}
}

nav {
	background-color: #468faf;
}

#logo {
	cursor: pointer;
	width: 6em;
}

.nav-links {
	color: white;
	font-size: 1.2em;
	list-style: none;
	display: inline-flex;
}

.nav-links li {
	padding: 0px 5px;
}

.nav-links .non-dropdown a {
	transition: all 0.3 ease 0s;
	text-decoration: none;
	color: #fff;
	transition: background 0.4s ease, color 0.4s ease;
	box-shadow: 0 0 0 2px #468faf inset;
	border-radius: 0.5em;
	padding: 0.8em;
}

.nav-links .non-dropdown a:hover {
	box-shadow: 0 0 0 2px #fff inset;
	color: #468faf;
	background-color: #fff;
}

.nav-links #dropdown1 a,
.nav-links #dropdown2 a {
	transition: all 0.3 ease 0s;
	transition: background 0.4s ease, color 0.4s ease;
	text-decoration: none;
	color: #fff;
	box-shadow: 0 0 0 2px #468faf inset;
	border-radius: 0.5em;
	padding: 0.8em;
	background-color: #468faf;
}

.nav-links #dropdown1 a:hover,
.nav-links #dropdown2 a:hover {
	color: #468faf;
	box-shadow: 0 0 0 2px #fff inset;
	background-color: #fff;
}

.dropdown-content1,
.dropdown-content2 {
	display: none;
}

.nav-links li:hover .dropdown-content1,
.nav-links li:hover .dropdown-content2 {
	display: block;
	list-style: none;
	position: absolute;
	margin-top: 0.8em;
}

/* start of search bar */
.header-container .search-bar {
	width: 20%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.search {
	margin: 10px;
}

.search > h3 {
	font-weight: normal;
}

.search > h1,
.search > h3 {
	color: white;
	margin-bottom: 15px;
	text-shadow: 0 1px white;
}

.search > div {
	display: inline-block;
	position: relative;
	filter: drop-shadow(0 1px #0091c2);
}

.search > div:after {
	content: "";
	background: white;
	width: 4px;
	height: 20px;
	position: absolute;
	top: 40px;
	right: 2px;
	transform: rotate(135deg);
}

.search > div > input {
	color: white;
	font-size: 16px;
	background: transparent;
	width: 25px;
	height: 25px;
	padding: 10px;
	border: solid 3px white;
	outline: none;
	border-radius: 35px;
	transition: width 0.5s;
}
.search > div > input::placeholder {
	color: #white;
	opacity: 0;
	transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
	opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
	width: 250px;
}

.instant-search {
	position: relative;
	max-width: 250px;
}

.instant-search,
.instant-search__input {
	font-family: sans-serif;
}

.instant-search,
.instant-search * {
	transition: background 0.15s, box-shadow 0.15s;
}

.instant-search:focus-within {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.instant-search--loading::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 2px;
	background: #009578;
	border-radius: 5px;
	animation: searchIndicator 0.5s infinite ease-in-out;
}

@keyframes searchIndicator {
	0% {
		width: 15%;
	}
	50% {
		width: 100%;
	}
	100% {
		width: 15%;
	}
}

.instant-search,
.instant-search__input-container {
	border-radius: 5px;
}

.instant-search__input-container {
	display: inline-flex;
	box-sizing: border-box;
	width: 100%;
	padding: 6px;
	background: #eeeeee;
}

.instant-search__input-container:focus-within {
	background: #ffffff;
}

.instant-search__input {
	flex-grow: 1;
	border: none;
	outline: none;
	width: 100%;
	padding: 0 6px;
	background: transparent;
}

.instant-search__results-container {
	max-height: 250px;
	overflow-y: auto;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.1s, opacity 0.1s;
}

.instant-search__results-container--visible {
	visibility: visible;
	opacity: 1;
}

.instant-search__result {
	display: block;
	color: #333333;
	text-decoration: none;
	padding: 10px;
	font-size: 0.8em;
	cursor: pointer;
}

.instant-search__result:hover {
	background: #eeeeee;
}

.instant-search__result:not(:last-of-type) {
	border-bottom: 1px solid #eeeeee;
}

.instant-search__title {
	font-size: 1.1em;
	font-weight: bold;
}

.instant-search__paragraph {
	line-height: 1.5;
	margin: 8px 0;
}

/* end of search bar */

.sizing1,
.sizing2,
.sizing3,
.sizing4,
.sizing5 {
	transition: all 0.3 ease 0s;
	transition: background 0.4s ease, color 0.4s ease;
	box-shadow: 0 0 0 2px #468faf inset;
	border-radius: 0;
	padding-left: 0.4em;
	padding-bottom: 1.2em;
	padding-top: 1em;
	background-color: #468faf;
}
.sizing1 {
	width: 13em;
	margin-left: -0.5em;
}

.sizing2 {
	width: 6em;
	padding-top: 0.9em;
	padding-right: 0.9em;
}

.sizing3 {
	width: 4.5em;
}

.sizing4 {
	width: 7em;
}

.sizing5 {
	width: 28em;
}

#body {
	padding-left: 1.5em;
	padding-top: 1.5em;
}

.title {
	margin-bottom: 1em;
}

input[type="text"],
select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type="password"],
select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type="submit"] {
	width: 100%;
	background-color: #468faf;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1em;
}

input[type="submit"]:hover {
	background-color: #fff;
	box-shadow: 0 0 0 2px #468faf inset;
	color: #468faf;
}

.errors {
	list-style: none;
}

.search-header {
	font-size: 1.3em;
	margin-bottom: 1em;
}

.books {
	display: flex;
	margin-bottom: 2em;
}

.books ul li {
	list-style: none;
}

.book-obj {
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 1.5em;
}

.sub-flex {
	display: block;
	margin-left: 2em;
}

.book-obj .sub-flex h2 {
	font-family: "Barlow";
	font-size: 2em;
	margin-bottom: 0.5em;
}

.book-obj .sub-flex h3 {
	margin-bottom: 1em;
}

.book-obj .sub-flex h4 {
	margin-bottom: 1em;
}

#footer {
	font-family: "Roboto";
}

.footer-container {
	display: flex;
	justify-content: center;
	padding-bottom: 3em;
	padding-left: 5em;
}

.pages ul {
	display: inline-flex;
	list-style: none;
}

.pages ul li {
	margin-left: 10px;
	margin-right: 10px;
}

.pages ul li a {
	color: #468faf;
	text-decoration: none;
	font-size: 20px;
}

.pages-container {
	display: flex;
	justify-content: center;
	margin-bottom: 1em;
}

.landing-page-header {
	font-family: "Barlow";
	font-size: 40px;
	margin-bottom: 20px;
}
#home-main {
	margin-bottom: 30px;
}

.item-row {
	list-style: none;
}
.item-row li {
	float: left;
	margin: 20px;
}

.btn-general {
	float: center;
}

.reading-list {
	width: 50px;
}

.remove-btn {
	background-color: #468faf;
	border: none;
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	transition-duration: 0.2s;
	width: 100%;
}

.remove-btn:hover {
	background-color: RoyalBlue;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
		0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.bookmark {
	margin-right: 1em;
}

.bookmark:hover {
	background-color: RoyalBlue;
	color: white;
	box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.24),
		0 40px 50px 0 rgba(0, 0, 0, 0.19);
}

.form-review-field {
	width: 100%;
	box-sizing: border-box;
}

.form-rating-field {
	width: 100%;
}

.reviews h1 {
	margin-bottom: 0.5em;
}

.reviews p {
	margin-bottom: 0.5em;
}

.reviews button {
	font-size: 1em;
	font-weight: bold;
	background-color: #468faf;
	border: none;
	padding: 0.5em 1em;
	color: #fff;
	border-radius: 0.25em;
	cursor: pointer;
	transition: background 0.4s ease, color 0.4s ease;
	margin: 0 auto;
	display: block;
	margin-top: 25px;
	margin-left: 0;
	margin-bottom: 1em;
}

.reviews button:hover {
	box-shadow: 0 0 0 2px #468faf inset;
	color: #468faf;
	background-color: transparent;
}

#book-header {
	margin-bottom: 1em;
}

.about-us h1 {
	margin-bottom: 0.5em;
	margin-top: 1em;
}

.about-us .about-us-header {
	margin-top: 0em;
}

.about-us {
	margin-bottom: 3em;
}

.about-us p {
	margin-bottom: 0.8em;
}
