{% extends 'layout.html' %} {% block content %}

<main id="main">
	<div class="formwrapper">
		<h1 class="title">{{ title }}</h1>
		<form method="POST" action="{{ handler_url }}">
			{{ form.csrf_token }}
			<!-- Including the token because it is required by Flask WTForms -->
			<div class="form-field">
				{{ form.user_name.label }} {{ form.user_name }} {% if
				form.user_name.errors or user_name_error_message is not none %}
				<ul class="errors">
					{% if user_name_error_message is not none %}
					<li>{{ user_name_error_message }}</li>
					{% endif %} {% for error in form.user_name.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
			<div class="form-fields">
				{{ form.password.label }} {{ form.password }} {% if form.password.errors
				or password_error_message is not none %}
				<ul class="errors">
					{% if password_error_message is not none %}
					<li>{{ password_error_message }}</li>
					{% endif %} {% for error in form.password.errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
			{{ form.submit }}
		</form>
	</div>
</main>

{% endblock %}
