{% extends 'layout.html' %} {% block content %}

<main id="main">
	<div class="about-us">
		<h1 class="about-us-header">The Site</h1>
		<p>Capitulo is a book browsing website founded in September 2021.</p>
		<p>
			It boasts a wide range of functionality, from searching for books via
			numerous different categories, to reviewing books and adding to your own
			bookmarked reading list!
		</p>
		<h1>The Team</h1>
		<p>
			George Jensen and Keitel Añana are the proud founders and developers of
			the site, working tireless nights as a team to pull together something
			great.
		</p>
		<h1>The Journey</h1>
		<p>
			As the great Prabakaran Thirumalai said – "Work and you’ll get what you
			need; work harder and you’ll get what you want".
		</p>
		<p>
			This is the attitude that was taken when approaching Capitulo, and we hope
			that this is reflected in what has been produced.
		</p>
	</div>
</main>

{% endblock %}
