{% extends 'layout.html' %} {% block content %}

<main id="home-main">
	<h1 class="landing-page-header">Welcome to Capitulo!</h1>
	<p>
		We have a wide array of books available to browse. Whether you're looking
		for books in Chinese, books about wars, or even if you're a marvel fan! We
		have it all. Take a look at one of our browsing options in the navigation
		bar above and get browing!
	</p>
<!--	<div class="form-wrapper">
		<form action="{{url_for('search_bp.search')}}" method="post">
			<input class="form-control"
			   type="search" placeholder="Search"
			   name="search">
			<input type="submit" name="submit" value="submit"/>
		</form>
	</div>
-->

</main>

{% endblock %}
